<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/semantic/packaged/css/semantic.min.css')}}">
	</head>
	<body>
		<div class="ui modal">
      <div class="ui success massive message">
        <div class="header">
          Sua mensagem foi enviada
        </div>  
      </div>      
      <div class="actions">
        <button class="ui teal large button" onclick="window.history.go(-1)">OK</button>
      </div>
    </div>

{% block javascript %}
  <script type="text/javascript" src="../static/scripts/jQuery.min.js"></script>
    <script type="text/javascript" src="../static/scripts/dimmer.js"></script>  
  <script type="text/javascript" src="../static/scripts/modal.js"></script> 
	<script type="text/javascript">
		$('.ui.modal')
  		.modal('show');
  </script>    
{% endblock %}

	</body>
</html>