body{
	background-image: url('../images/dust.png');
}

.ui.black.header{
	margin-left: 30%;
	margin-top: 50px !important;
}

.line{
	width: 100%;
	height: 1px;
	background-color: #c4c1c4		;
	margin-top: 50px;
}

.huge.input{
	margin-top: 50px;
	width: 70%;
}

