body{
    background-image: url('../images/dust.png');
}


@media screen and  (min-width:1000px) {
    

.ui.action.input{
    top: 85px;
    margin-top: 0px;
    margin-bottom: 120px;
}
.ui.green.button{
    margin-top: 20px;
}
.ui.red.button,.ui.teal.button{
    margin-top: 20px;
}

.ui.form{
    margin-left: 500px;
    margin-top: 100px;

}
.ui.green.message{
    width: 1025px;
    left: 100px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.ui.red.message{
    width: 1025px;
    left: 100px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.ui.warning.message{
    width: 1025px;
    left: 100px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.inline.field{
    margin-left: 15px;
}

.ui.info.message{
    margin-top: 20px;
}
.buttons{
    margin-top: 10px;
    margin-left: 950px;
}

.ui.basic.table{
    margin-left: 100px;
    margin-top: 30px;
    width: 1200px;
}
#sellDoneMessage{
    margin-top: 30px;
}

#input{

    width: 650px;
    margin-left: 100px;
}
#checkbox{
    margin-top: 20px;
    margin-right: 700px;
}
#lastItem{
  margin-left:900px !important ;
}
}




